<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | TanyaAja?.com</title>
    <link rel="stylesheet" href="../../Public/assets/css/style.css">
</head>

<body class="container full-height-grow">
    <header class="main-header">
        <a href="../../Public/index.html" class="brand-logo">
            <img src="#" alt="TanyaAja?.com">
        </a>
        <nav class="main-nav">
            <ul>
                <li><a href="../../Public/index.html">Home</a></li>
                <li> <a href="login.html">Login</a></li>
                <li><a href="signup.html">Sign up</a></li>
            </ul>
        </nav>
    </header>
    <section class="main main-section">
        <div class="img-wrapper">
        </div>
        <div class="main-form">
            <h1 class="tittle">Login</h1>
        </div>
        <form action="" method="POST">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="text" name="password" id="password">
            </div>
            <div class="input-group">
                <button class="btn btn-login">Login</button>
            </div>
            <div class="form-footer">
                <p>Dont have account yet?
                    <a href="register.html" class="link">Sign up</a>
                </p>
            </div>
        </form>
    </section>
</body>

</html>