.fontquest{
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */

    letter-spacing: 0.02em;
    color: #8F9FAE;
}

::placeholder{
    text-align: center;
}

.box{
    width: 45%;
}

.tombol{
    background-color:  #F0F0F3;
    float: right;
    color: #687078;
}
