.main-landing,
.form-landing .form-main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    min-height: 90vh;
}

.img-wrapper,
.main-landing .call-to-action {
    width: 50%;
    margin: 0 2rem;
}

.img-wrapper img {
    display: block;
    margin: 0 auto;
    max-width: 29vw;
    height: auto;
}

.main-landing .call-to-action {
    display: inline;
    margin: 100px 0;
}

.main-landing .call-to-action .subtittle {
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.about-landing,
.card-landing,
.form-landing {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.center-tittle {
    text-align: center;
}

.tittle-underline {
    position: relative;
    float: right;
    right: 0px;
    width: 450px;
    height: 10px;
    border-radius: 30px;
    background: linear-gradient(90.03deg, rgba(186, 104, 200, 0.85) 1.89%, rgba(0, 169, 157, 0.85) 100%);
}

.about-landing .about-main-content {
    min-height: 35vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-landing .about-main-content .side-wrap {
    display: flex;
    flex-direction: row;
}

.about-landing .about-main-content .icon-section {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}

.about-landing .about-main-content .icon-section img {
    width: 7vw;
    height: 7vw;
    margin-top: 15px;
}

.about-landing .about-main-content .icon-section .icon-deskripsi {
    padding: 10px 10px;
    text-align: justify;
}

.about-landing .about-main-content .icon-section .icon-deskripsi .tittle {
    font-size: 1.25rem;
}

.about-landing .about-main-content .icon-section .icon-deskripsi .subtittle {
    font-size: 1rem;
}

.card-landing .card-main-content {
    display: flex;
}

.card-landing .card-main-content .card {
<<<<<<< HEAD
    margin: 15vh 30px;
=======
    width: 400px;
>>>>>>> 9a6ab7e3e7c66362bed7f33a8fedb9fb6fcec742
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: auto;
    padding: 2rem 1.5rem;
    justify-content: space-evenly;
    box-shadow: -4px -4px 5px #FFFFFF, 4px 4px 10px 3px #C4C4C4;
    border-radius: 20px;
}

.card-landing .card-main-content .card .card-img {
    position: relative;
    width: 40px;
    height: auto;
}

.card-landing .card-main-content .card .card-deskripsi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    text-align: justify;
}

.card-landing .card-main-content .card .card-underline {
    height: 2px;
}

.card-landing .card-main-content .card .card-footer {
    display: flex;
}

.card-landing .card-main-content .card .card-footer img {
    max-width: 50px;
    height: auto;
}

.card-landing .card-main-content .card .card-footer .avatar-identitas {
<<<<<<< HEAD
    display: inline-flex;
    flex-wrap: wrap;
=======
    border: 2px solid yellow;
    display: flex;
>>>>>>> 9a6ab7e3e7c66362bed7f33a8fedb9fb6fcec742
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
}

.card-landing .card-main-content .card .card-footer .avatar-identitas h4 {
<<<<<<< HEAD
    margin: 0;
}

.card-landing .card-main-content .card .card-footer .avatar-identitas p {
    margin: 0;
}

.form-landing .call-to-action {
    width: 30vw;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: -4px -4px 5px #FFFFFF, 4px 4px 10px 3px #C4C4C4;
    border-radius: 20px;
    padding: 2rem 2.5rem;
    margin: 0 2.5em;
=======
    border: 1px solid green;
    margin:0;
}

.card-landing .card-main-content .card .card-footer .avatar-identitas p {
    border: 1px solid black;
    margin: 0;
>>>>>>> 9a6ab7e3e7c66362bed7f33a8fedb9fb6fcec742
}

@media(max-width: 768px) {
    .main-landing .img-wrapper,
    .form-landing .img-wrapper {
        display: none;
    }
    .main-landing .img-wrapper,
    .main-landing .call-to-action {
        width: 100%;
        margin: 0;
    }
    .tittle-underline {
        width: 400px;
    }
    .about-landing .about-main-content .icon-section img {
        width: 30vw;
        height: 30vw;
        margin-top: 10px;
    }
    .about-landing .about-main-content .side-wrap {
        display: flex;
        gap: 30px;
        flex-direction: column;
    }
    .form-landing .call-to-action {
        width: 100%;
    }
}

@media(min-width: 769px) and ( max-width: 900px) {
    .about-landing .about-main-content .icon-section img {
        width: 20vw;
        height: 20vw;
        margin-top: 10px;
    }
    .form-landing .call-to-action {
        width: 50%;
    }
}