.main-landing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    min-height: 90vh;
}

.main-landing .img-wrapper,
.main-landing .call-to-action {
    width: 50%;
    margin: 0 2rem;
}

.main-landing .img-wrapper img {
    display: block;
    margin: 0 auto;
    max-width: 25vw;
    height: auto;
}

.main-landing .call-to-action {
    display: inline;
    margin: 100px 0;
}

.main-landing .call-to-action .subtittle {
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.about-landing,
.card-landing {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.center-tittle {
    text-align: center;
}

.tittle-underline {
    position: relative;
    float: right;
    right: 0px;
    width: 450px;
    height: 10px;
    border-radius: 30px;
    background: linear-gradient(90.03deg, rgba(186, 104, 200, 0.85) 1.89%, rgba(0, 169, 157, 0.85) 100%);
}

.about-landing .about-main-content {
    min-height: 35vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-landing .about-main-content .side-wrap {
    display: flex;
    flex-direction: row;
}

.about-landing .about-main-content .icon-section {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}

.about-landing .about-main-content .icon-section img {
    width: 7vw;
    height: 7vw;
    margin-top: 15px;
}

.about-landing .about-main-content .icon-section .icon-deskripsi {
    padding: 10px 10px;
    text-align: justify;
}

.about-landing .about-main-content .icon-section .icon-deskripsi .tittle {
    font-size: 1.25rem;
}

.about-landing .about-main-content .icon-section .icon-deskripsi .subtittle {
    font-size: 1rem;
}

.card-landing .card-main-content .card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.card-landing .card-main-content .card .card-footer {
    display: flex;
    border: 1px solid black;
}

.card-landing .card-main-content .card .card-footer img {
    max-width: 50px;
    height: auto;
}

.card-landing .card-main-content .card .card-footer .avatar-identitas {
    border: 2px solid yellow;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.card-landing .card-main-content .card .card-footer .avatar-identitas h4 {
    border: 1px solid green;
}

.card-landing .card-main-content .card .card-footer .avatar-identitas p {
    border: 1px solid black;
}

@media(max-width: 768px) {
    .main-landing .img-wrapper {
        display: none;
    }
    .main-landing .img-wrapper,
    .main-landing .call-to-action {
        width: 100%;
        margin: 0;
    }
    .tittle-underline {
        width: 400px;
    }
    .about-landing .about-main-content .icon-section img {
        width: 30vw;
        height: 30vw;
        margin-top: 10px;
    }
    .about-landing .about-main-content .side-wrap {
        display: flex;
        gap: 30px;
        flex-direction: column;
    }
}

@media(min-width: 769px) and ( max-width: 900px) {
    .about-landing .about-main-content .icon-section img {
        width: 20vw;
        height: 20vw;
        margin-top: 10px;
    }
}