.avatar{
    position: absolute;
    max-width: 120px;
    max-height: 120px;
    border-radius: 100px;
}

.bgContainer{
    width: 100%; 
    height:400px; 
    background-color:  rgb(230, 230, 230); 
    padding:20px; 
    border-radius:16px; 
    margin-bottom:15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bgContainer img{
    width: 100%; 
    height: 100%; 
}

.parrent{
    position: relative;
    top: 0;
    left: 0;
}

.background{
    position: relative;
    border-radius: 16px;
}

.bawahback{
    color: #194B4F;
    text-align: center;
    font-style: normal;
    /* identical to box height, or 18px */
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
   
}

.abu{
    background-color: #F0F0F3 ;
}


.fontbio{
    padding-top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */

    letter-spacing: 0.02em;

    color: #8F9FAE;
}

.fonttitle{
    
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */

    letter-spacing: 0.02em;

    color: #000000;
}


