.avatar{
    position: absolute;
    width: 100px;
}


.parrent{
    position: relative;
    top: 0;
    left: 0;
}

.background{
    position: relative;
}

.bawahback{
    color: #194B4F;
    text-align: center;
    font-style: normal;
    /* identical to box height, or 18px */
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
   
}

.abu{
    background-color: #F0F0F3 ;
}


.fontbio{
    padding-top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */

    letter-spacing: 0.02em;

    color: #8F9FAE;
}

.fonttitle{
    
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */

    letter-spacing: 0.02em;

    color: #000000;
}


