.categories{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile img{
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.profile p{
    margin-left: 10px;
    font-weight: bold;
}

.categories-item{
    margin-left: 10px;
    font-size: 12px;
    padding: 5px;
    border-radius: 16px;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icons span{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.icons span p{
    margin-top: -5px;
}

.description{
    color:#909090;
}

.pageContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#filterNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-item{
    display: flex;
    flex-direction: row;
}

.q-count{
    color: #9F91A1;
}

.filter-category{
    margin-left: 10px;
    font-size: 12px;
    padding: 10px;
    border-radius: 16px;
}

.add{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
}

.add:hover{
    margin-top: -10px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.dateTime{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}

.dateTime.replies{
    font-size: 12px;
    margin-left: 10px;
    color: rgb(0, 0, 124);
}

.bold{
    font-weight: bold;
    color: rgb(0, 0, 180);
}

.menuItem{
    display: flex;
    justify-content: space-between;
}

.menuItem div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuItem a{
    margin-left: -10px;
}