@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
    min-height: 100vh;
    color: #263238;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    flex-grow: 1;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.brand-logo img {
    width: 12rem;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color: #BA68C8;
    padding: 1.25rem;
    text-decoration: none;
}

.main-nav a:hover {
    color: #e06bf5;
}

.main-section {
    margin: 4rem auto;
    display: table;
    width: 80%;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    z-index: 2;
    background-color: #ffffff;
}

.tittle {
    font-size: 2.5rem;
}

.main-section .img-wrapper {
    display: table-cell;
    height: auto;
    background: url("../img/Login.svg") center left/contain no-repeat;
    width: 60%;
}

.main-section .main-form {
    display: table-cell;
    margin: 1em;
    padding: 4rem 3rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: .75rem 0;
}

.btn {
    margin-top: 1.5rem;
}

.btn .btn-login,
.btn.btn-primary {
    background: linear-gradient(90.03deg, rgba(186, 104, 200, 0.85) 1.89%, rgba(0, 169, 157, 0.85) 100%);
    font-weight: bold;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn .btn-login:hover,
.btn.btn-primary:hover {
    background-color: #e06bf5;
}

.input-group label {
    font-weight: bold;
    margin-bottom: .75rem;
}

.input-group input,
.btn-login {
    border-radius: 7px;
    height: 2rem;
    font-size: 1rem;
}

.input-group input,
.input-group textarea {
    outline: none;
    color: inherit;
    border: 1px solid #BA68C8;
    background: #ffffff;
    border-radius: 7px;
}

.input-group input:focus,
.input-group input:hover,
.btn:focus,
.btn:hover {
    border-color: #e06bf5;
}

.btn.btn-primary {
    padding: .35rem .5rem;
    cursor: pointer;
    border-radius: 7px;
}

.form-footer {
    margin: 2rem 0;
    text-align: center;
}

.form-footer .link,
.btn.btn.btn-primary {
    text-decoration: none;
}

.form-footer .link {
    color: #BA68C8;
    cursor: pointer;
}

.form-footer .link:hover {
    color: #e06bf5;
}

span .fas.fa-eye,
.fas.fa-eye-slash {
    cursor: pointer;
    position: relative;
    float: right;
    margin-top: -24px;
    margin-right: 7px;
}

@media(max-width:900px) {
    .main-section .img-wrapper {
        display: none;
    }
}